<div class="modal-header">
    <h5 class="modal-title">
        <i class="faa faa-pod"></i>
        {{pod.metadata.name}} - 容器详情
        <a ng-click="cancel()" href="javascript:;" class="modal-close">
            <i class="fa fa-times-circle pull-right"></i>
        </a>
    </h5>
</div>
<div class="modal-body" style="padding:0;text-align: left;overflow: hidden;background: #000;">
    <div class="container-detail">
        <ul class="top-tab">
            <li class="active">终端</li>
            <li>日志</li>
        </ul>
        <div class="tab-con">
            <div>
                <kubernetes-container-terminal pod="pod" container="container.name" prevent="!terminalTabWasSelected">
                </kubernetes-container-terminal>
            </div>
            <div style="display: none">
                <div class="well well-log" style="margin: 0;">
                    <pre style="color:#e4e4e4" id="sc" ng-bind-html=log></pre>
                </div>
            </div>

        </div>
        <!--<uib-tabset class="tab-default" active="active">-->

            <!--<uib-tab index="1" heading="终端">-->
                <!--<div class="well well-log" style="margin: 0;">-->
                    <!--<pre style="color:#e4e4e4" id="sc" ng-bind-html=log></pre>-->
                <!--</div>-->
            <!--</uib-tab>-->

            <!--<uib-tab index="2" heading="日志" ng-click="terminalSelect()">-->
                <!--<kubernetes-container-terminal pod="pod" container="container.name" prevent="!terminalTabWasSelected">-->
                <!--</kubernetes-container-terminal>-->
            <!--</uib-tab>-->
        <!--</uib-tabset>-->
    </div>

    <style>
        .container-detail .graph {
            padding: 8px;
        }
        .container-detail .graph p {
            font-size: 12px;
        }
        .container-detail > h2 {
            font-size: 14px;
            font-weight: normal;
            color: #5a6378;
            margin: 0 0 25px 0;
        }
        .container-detail .tab-default .tab-content {
            padding: 15px 10px;
        }
        .container-detail .tab-default li .nav-link {
            padding: 5px 15px;
        }
        .container-detail .terminal-wrapper, .container-detail .terminal-wrapper .terminal {
            width: 100%;
        }
        .container-detail .terminal-actions {
            position: absolute;
        }
        .container-detail .terminal-actions .btn {
            background: none;
            border: none;
            box-shadow: none;
        }
    </style>

</div>
