<div class="log-modal">
    <div class="well well-log">
        <div class="nav_top">
            <ul style="line-height: 42px;">
                <li>时间</li>
                <li>名称</li>
                <li>类型</li>
                <li>状态</li>
                <li>事件</li>
            </ul>
        </div>
        <div class="nav_body">
            <ul ng-repeat="event in eventsws.items  | orderBy : 'mysort'">
                <li>{{event.metadata.creationTimestamp | timescon2}}</li>
                <li>{{event.involvedObject.name}}</li>
                <li>{{event.involvedObject.kind}}</li>
                <li>{{event.type}}</li>
                <li>{{event.message}}</li>
            </ul>
        </div>
    </div>
</div>



