<!--部署记录-->
<div class="config_note_block">
        <div class="config_note block_h_set">
            <p class="pic_clock"><span class="year_tit">{{rcs.items[0].metadata.creationTimestamp | timesy}}年</span></p>
            <p class="pic_line"></p>
            <div class="block_one">

                <ul class="block_list">
                    <li class="transition_set list_active" ng-repeat="item in rcs.items">
                    <div class="time_detail">
                        <span class="data_minute">{{item.metadata.creationTimestamp | timeshm}}</span>
                        <span class="data_year">{{item.metadata.creationTimestamp | timesmd}}</span>
                    </div>
                    <p class="list_name" ng-class="{'list_lost':item.metadata.annotations['openshift.io/deployment.phase']=='Failed',
                    'list_ok':item.metadata.annotations['openshift.io/deployment.phase']!=='Failed'}" ng-switch="item.metadata.annotations['openshift.io/deployment.phase']">
                        <!--<i class="note_btn" ng-class="-->
                        <!--{'note_failed':item.metadata.annotations['openshift.io/deployment.phase']=='Failed',-->
                        <!--'note_ok':item.metadata.annotations['openshift.io/deployment.phase']=='Complete',-->
                        <!--'note_running':item.metadata.annotations['openshift.io/deployment.phase']=='New'||'Pending'||'Running',-->
                        <!--'note_error':item.metadata.annotations['openshift.io/deployment.phase']=='Error',-->
                        <!--'note_cancelled':item.metadata.annotations['openshift.io/deployment.phase']=='Cancelled'-->
                        <!--}"></i>-->

                        <!--<i class="note_btn" ng-class="-->
                        <!--{'note_failed':item.metadata.annotations['openshift.io/deployment.phase']=='Failed',-->
                        <!--'note_ok':item.metadata.annotations['openshift.io/deployment.phase']=='Complete',-->
                        <!--'note_running':item.metadata.annotations['openshift.io/deployment.phase']=='New'||'Pending'||'Running',-->
                        <!--'note_error':item.metadata.annotations['openshift.io/deployment.phase']=='Error',-->
                        <!--'note_cancelled':item.metadata.annotations['openshift.io/deployment.phase']=='Cancelled'-->
                        <!--}"></i>-->
                        <i class="note_btn note_failed"  ng-switch-when='Failed'></i>
                        <i class="note_btn note_ok"  ng-switch-when='Complete'></i>
                        <i class="note_btn note_running"  ng-switch-when="'New'||'Pending'||'Running'"></i>
                        <i class="note_btn note_error"  ng-switch-when='Error'></i>
                        <i class="note_btn note_cancelled"  ng-switch-when='Cancelled'></i>


                        <!--<i ng-switch-when="部署成功" class="note_btn note_ok"> </i>-->
                        <!--<i ng-switch-when="部署失败" class="note_btn note_failed"> </i>-->
                        <!--<i ng-switch-when="正在部署" class="note_btn note_running"> </i>-->
                        <!--<i ng-switch-when="部署错误" class="note_btn note_error"> </i>-->
                        <!--<i ng-switch-when="终止" class="note_btn note_cancelled"> </i>-->
                        <!--{{item.metadata.annotations['openshift.io/deployment.phase']}}-->
                        {{item.metadata.annotations['openshift.io/deployment.phase'] | rcStatusFilter}}
                    </p>

                        <p><span class="lose_time">耗时：</span>{{item.metadata.creationTimestamp | dateRelative2}}</p>
                    <p><span class="lose_kind">触发类型：</span><span ng-if="!item.dc.status.details.causes.length">未知</span>
                        <span ng-if="item.dc.status.details.causes.length">
                            <span ng-repeat="cause in item.dc.status.details.causes">
                              <span ng-switch="cause.type">
                                <span ng-switch-when="ImageChange">镜像变化</span>
                                <span ng-switch-when="ConfigChange">配置变化</span>
                                <span ng-switch-default>{{cause.type}}</span>
                              </span>
                            </span>
                          </span></p>
                    </li>






                </ul>
            </div>
        </div>
</div>