<div class="build_create_new" id="build_create">
    <div class="create_new_nav">
        <div class="create_new_nav_top">
            <span ng-click="back()" class="cnew_back"><i class="btn_create_set back_jia_btn"></i>返回</span>
            <span class="cnew_tit"> 新建构建</span>
        </div>
        <div class="code_new_modal">
            <div class="nav">
                <span class="cnew_back" ng-click="close()">
                    <i class="btn_create_set close_jia_btn"></i> 关闭
                </span>
                        <span class="cnew_tit">
                    {{name}}
                </span>
            </div>
            <div ng-show="isShowmodal.github">
                <div class="content">
                    <div class="selectimage_main_set">
                        <div class="selectimage_main">
                            <div class="searchbar_image" id="search_public_block">
                                <input type="text" class="search_public_l" ng-model="githubimagesearch"  placeholder="请输入项目名称">
                                <span class="search_public_btn"></span>
                            </div>
                            <!--<div class="searchbar_image">-->
                                <!--<input type="text" class="form-control" ng-model="githubimagesearch"  placeholder="请输入镜像名称">-->
                            <!--</div>-->
                            <div class="select_main_block">
                                <uib-tabset class="tab_build_image" active="checkgithubimage" >
                                    <uib-tab index=$index+1  ng-repeat="git in gitdata.github">
                                        <uib-tab-heading>
                                            {{git.namespace}}
                                        </uib-tab-heading>
                                        <div class="select_block_one create_two_block">
                                            <div class="two_tab_detail"  ng-repeat="repo in git.repos">
                                                <div class="two_tab_l">
                                                    <img src="views/service_detail_new/img/nor_pic_set.png" class="two_tab_pic">
                                                    <div class="two_tab_tit">
                                                        <span class="two_tab_ellipsis" title="{{repo.name}}">{{repo.name}}</span>
                                                        <!--<span class="two_tab_ellipsis">{{repo.name}}是开源的消息是开源的消息</span>-->
                                                    </div>
                                                </div>
                                                <div class="two_tab_r">
                                                    <span class="version_tit">分支</span>
                                                    <div class="service_area_select two_radius" ng-click="gettag(repo,'github')">
                                                        <div uib-dropdown="" on-toggle="toggled(open)" class="dropdown">
                                                            <a href="javascript:void(0);" class="service_block dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                                                                <span class="service_per_tit service_copy_tit two_tab_ellipsis" title="{{repo.checkbox}}">{{repo.checkbox||'默认'}}</span>
                                                                <b class="ser_bg_btn"></b>
                                                            </a>
                                                            <ul class="service_drop service_drop_select dropdown-menu" uib-dropdown-menu="" aria-labelledby="user-menu">
                                                                <li class="zx_active" ng-repeat="tag in repo.tags" ng-click="repo.checkbox=tag.name">
                                                                    <a href="javascript:void(0);">
                                                                        <span class="drop_name_tit drop_name_tit_two two_tab_ellipsis" title="{{tag.name}}">{{tag.name}}
                                                                        </span>
                                                                    </a>
                                                                </li>
                                                            </ul>

                                                        </div>
                                                    </div>
                                                    <span class="change_tit" ng-click="checkboxbuild(repo,'github')">使用</span>
                                                </div>
                                            </div>
                                            <div class="git_blank" ng-if="git.repos.length===0">
                                                <div class="no_git">
                                                    <div class="no_git_set"></div>
                                                    <p>没有找到相关项目</p>
                                                </div>
                                            </div>
                                        </div>
                                    </uib-tab>
                                </uib-tabset>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div ng-show="isShowmodal.gitlab">
                <div class="content">
                    <div class="selectimage_main_set">
                        <div class="selectimage_main">
                            <!--<div class="searchbar_image">-->
                                <!--<input type="text" class="form-control" ng-model="imagesearch"  placeholder="请输入镜像名称">-->
                            <!--</div>-->
                            <div class="searchbar_image" id="search_public_block">
                                <input type="text" class="search_public_l" ng-model="gitlabimagesearch"  placeholder="请输入镜像名称">
                                <span class="search_public_btn"></span>
                            </div>
                            <div class="select_main_block">

                                <uib-tabset class="tab_build_image" active="checkgitlabimage">
                                    <uib-tab index=$index+1  ng-repeat="git in gitdata.gitlab">
                                        <uib-tab-heading>
                                            {{git.namespace}}
                                        </uib-tab-heading>
                                        <div class="select_block_one create_two_block">
                                            <div class="two_tab_detail"  ng-repeat="repo in git.repos">
                                                <div class="two_tab_l">
                                                    <img src="views/service_detail_new/img/nor_pic_set.png" class="two_tab_pic">
                                                    <div class="two_tab_tit">
                                                        <span class="two_tab_ellipsis" title="{{repo.name}}">{{repo.name}}</span>
                                                        <!--<span class="two_tab_ellipsis">{{repo.name}}是开源的消息是开源的消息</span>-->
                                                    </div>
                                                </div>
                                                <div class="two_tab_r">
                                                    <span class="version_tit">分支</span>
                                                    <div class="service_area_select two_radius" ng-click="gettag(repo,'gitlab')">
                                                        <div uib-dropdown="" on-toggle="toggled(open)" class="dropdown">
                                                            <a href="javascript:void(0);" class="service_block dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                                                                <span class="service_per_tit service_copy_tit two_tab_ellipsis" title="{{repo.checkbox}}">{{repo.checkbox||'默认'}}</span>
                                                                <b class="ser_bg_btn"></b>
                                                            </a>
                                                            <ul class="service_drop service_drop_select dropdown-menu" uib-dropdown-menu="" aria-labelledby="user-menu">
                                                                <li class="zx_active" ng-repeat="tag in repo.tags" ng-click="repo.checkbox=tag.name">
                                                                    <a href="javascript:void(0);">
                                                                        <span class="drop_name_tit drop_name_tit_two two_tab_ellipsis" title="{{tag.name}}">
                                                                            {{tag.name}}
                                                                        </span>
                                                                    </a>
                                                                </li>
                                                            </ul>

                                                        </div>
                                                    </div>
                                                    <span class="change_tit" ng-click="checkboxbuild(repo,'gitlab')">使用</span>
                                                </div>
                                            </div>
                                            <div class="git_blank" ng-if="git.repos.length===0">
                                                <div class="no_git">
                                                    <div class="no_git_set"></div>
                                                    <p>没有找到相关项目</p>
                                                </div>
                                            </div>
                                        </div>
                                    </uib-tab>
                                </uib-tabset>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="create_new_content">
        <div class="create-code-block">
            <p class="create_left">构建名称 <i>*</i></p>
            <input type="text" class="new_code_input" ng-model="buildConfig.metadata.name" maxlength="24" placeholder="2-24位小写字母、数字或中划线组成，以数字或小写字母结尾">
            <span class="input_close" ng-show="buildConfig.metadata.name!==''"  ng-click="buildConfig.metadata.name=''" style="left:537px"></span>
            <span class="disable_tit ng-hide">服务名称暂不支持修改</span>
            <span class="btn_set_new error_btn" ng-show="namerr.repeated" style="margin-left:8px;"></span>
            <div class="error_block_tit" ng-show="namerr.rexed">
                <p style="margin:0;" >2-24位小写字母、数字或中划线组成，以数字或小写字母结尾</p>
            </div>
            <div class="error_block_tit" ng-show="namerr.bigcode">
                <p style="margin:0;">以小写字母开头</p>
            </div>
        </div>
        <div class="create-code-block">
            <p class="create_left">代码库 <i>*</i></p>
            <span class="create_right">源码存放、托管的位置平台，关联代码源后，您对代码源的操作会自动触发项目的相应动作比如代码构建。</span>
            <div style="margin-top:8px;margin-left:96px;">
                <div class="form-group">
                    <div class="uib-first">
                    <uib-tabset class="tab-default" active="check" style="width:650px;">
                        <!--gitlab-->

                        <uib-tab index="1" heading="GitHub">
                            <div class="tabinfo" style="height: 50px">
                                <!--<img style="float: left;margin-right: 20px;width:66px"-->
                                     <!--src="views/build_create/img/github0.png">-->
                                <div class="build_github"></div>
                                <span style="font-size:12px; height: 20px;color:#333">
                                    GitHub是一个面向开源及私有软件项目的托管平台，只支持Git作为唯一版本库格式。
                                </span>
                                <p class="link_github" ng-click="linkgit('github')" ng-show="state.github.link==='unlink'">
                                    立即关联GitHub账号
                                </p>
                                <!--<p class="link_github" style="color:#999" ng-show="state.github.pedding">-->
                                    <!--正在关联GitHub账号...-->
                                    <!--<span style="margin-left:30px;color:#5b73eb;">已绑定？刷新</span></p>-->
                                <div class="two_tab_detail" ng-show="state.github.checked" style="margin-top:20px;">
                                    <div class="two_tab_l">
                                        <img src="views/service_detail_new/img/nor_pic_set.png" class="two_tab_pic">
                                        <div class="two_tab_tit">
                                            <span class="two_tab_ellipsis">{{checkedrepo.name}}</span>

                                        </div>
                                    </div>

                                    <div class="two_tab_r">
                                        <span class="version_tit">分支</span>
                                        <div class="service_area_select two_radius service_build_change">
                                            <div uib-dropdown on-toggle="toggled(open)" class="jx_toggle"  ng-click="gettag(checkedrepo)">
                                                <a href="javascript:void(0);" class="service_block" uib-dropdown-toggle>
                                                    <span class="service_per_tit service_copy_tit two_tab_ellipsis">{{checkedrepo.checkbox||'默认'}}</span>
                                                    <b class="ser_bg_btn"></b>
                                                </a>
                                                <ul class="service_drop" uib-dropdown-menu aria-labelledby="user-menu">
                                                    <li class="zx_active" ng-repeat="tag in checkedrepo.tags"  ng-click="checkedrepo.checkbox=tag.name">
                                                        <a href="javascript:void(0);">
                                                        <span class="service_per_tit service_copy_tit two_tab_ellipsis"
                                                            title="{{tag.name}}">{{tag.name}}
                                                        </span>
                                                        </a>
                                                    </li>
                                                </ul>

                                            </div>
                                        </div>
                                        <span class="change_tit" ng-click="openModal('选择项目','github')">更改</span>
                                    </div>
                                </div>

                                    <div class="tab_select" ng-show="state.github.link==='link'&&!state.github.checked" ng-click="openModal('选择项目','github')" style="margin-top:20px;">
                                        <span class="tab_select_tit">选择项目</span>
                                    </div>
                                </div>
                                <div style="clear:both"></div>
                            </uib-tab>
                            <!--github-->
                            <uib-tab index="2" heading="GitLab">
                                <div class="tabinfo">
                                    <div class="build_gitlab"></div>
                                    <!--<img style="float: left;margin-right: 20px;width:66px;"-->
                                         <!--src="views/build_create/img/gitlab0.png">-->
                                    <span style="font-size:12px; height: 20px;color:#333">GitLab是一个面向开源及私有软件项目的托管平台，只支持Git作为唯一版本库格式。</span>
                                    <p class="link_github" ng-click="linkgit('gitlab')" ng-show="state.gitlab.link==='unlink'">立即关联GitLab账号</p>
                                    <!--<p class="link_github" style="color:#999" ng-show="state.gitlab.pedding">正在关联GitLab账号...-->
                                        <!--<span style="margin-left:30px;color:#5b73eb;">已绑定？刷新</span></p>-->
                                    <div class="two_tab_detail" ng-show="state.gitlab.checked" style="margin-top:20px;">
                                        <div class="two_tab_l" >
                                            <img src="views/service_detail_new/img/nor_pic_set.png" class="two_tab_pic">
                                            <div class="two_tab_tit">
                                                <span class="two_tab_ellipsis">{{checkedrepo.name}}</span>

                                            </div>
                                        </div>

                                        <div class="two_tab_r">
                                            <span class="version_tit">分支</span>
                                            <div class="service_area_select two_radius service_build_change">
                                                <div uib-dropdown on-toggle="toggled(open)" class="jx_toggle"  ng-click="gettag(checkedrepo)">
                                                    <a href="javascript:void(0);" class="service_block" uib-dropdown-toggle>
                                                        <span class="service_per_tit service_copy_tit two_tab_ellipsis">{{checkedrepo.checkbox||'默认'}}</span>
                                                        <b class="ser_bg_btn"></b>
                                                    </a>
                                                    <ul class="service_drop" uib-dropdown-menu aria-labelledby="user-menu">
                                                        <li class="zx_active" ng-repeat="tag in checkedrepo.tags"  ng-click="checkedrepo.checkbox=tag.name">
                                                            <a href="javascript:void(0);">
                                                                <span class="service_per_tit service_copy_tit two_tab_ellipsis" title="{{tag.name}}">{{tag.name}}</span></a></li>
                                                    </ul>

                                                </div>
                                            </div>
                                            <span class="change_tit" ng-click="openModal('选择项目','gitlab')">更改</span>
                                        </div>
                                    </div>

                                    <div class="tab_select" ng-show="state.gitlab.link==='link'&&!state.gitlab.checked" ng-click="openModal('选择项目','gitlab')" style="margin-top:20px;">
                                        <span class="tab_select_tit">选择项目</span>
                                    </div>
                                </div>
                                <div style="clear:both"></div>
                            </uib-tab>
                            <uib-tab index="3" heading="快速构建">
                                <div class="create-code-block">
                                    <p class="create_left">Git地址 <i>*</i></p>
                                    <input type="text"  ng-model="buildConfig.spec.source.git.uri"  class="new_code_input width-code"  placeholder="http或https开头的完整地址">
                                </div>

                                <div class="create-code-block">
                                    <p class="create_left">Dockerfile路径</p>
                                    <input type="text"  ng-model="buildConfig.spec.source.contextDir" class="new_code_input width-code" >
                                </div>

                                <div class="create-code-block">
                                    <p class="create_left">用户名</p>
                                    <input type="text"  ng-model="gitUsername" class="new_code_input width-code " maxlength="24"  placeholder="">
                                </div>

                                <div class="create-code-block" style="margin-bottom:0;">
                                    <p class="create_left">密码</p>
                                    <input type="password" ng-model="gitPwd" class="new_code_input width-code" maxlength="24"  placeholder="">
                                </div>

                            </uib-tab>
                        </uib-tabset>
                    </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="create-code-block" ng-hide="check===3">
            <p class="create_left">自动构建 </p>
            <span class="create_right">当源代码配置文件生变化时自动进行代码构建。</span>
            <div style="margin-left:96px;margin-top:5px"  ng-show="!openAuto">
                <!--<img src="views/build_create/img/close.png" ng-click="openAutoCreate()" style="cursor:pointer;" alt="">-->
                <div class="build_close" ng-click="openAutoCreate()"></div>
            </div>
            <div style="margin-left:96px;margin-top:5px;" ng-show="openAuto">
                <!--<img src="views/build_create/img/open.png" ng-click="openAutoCreate()" style="cursor:pointer" alt="">-->
                <div class="build_open" ng-click="openAutoCreate()"></div>
            </div>
        </div>
        <div class="create-code-block">
            <p class="create_left" >构建时长</p>
            <span class="create_right" style="clear:both">代码构建，最大构建时间</span>
            <div class="minutes_code">
                <rzslider rz-slider-model="slider.value" rz-slider-options="slider.options" ></rzslider>
            </div>
            <div class = "minutes_code_example">
                <input ng-model="slider.value"  onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"/>
                <span>分钟</span>
            </div>
        </div>

        <div class="create-code-block" style="margin-left:76px;margin-top:50px">
            <span class="ser_btn ser_next_btn two_radius" ng-show="namerr.repeated||namerr.null||namerr.rexed||namerr.bigcode||!buildConfig.spec.source.git.uri || !buildConfig.metadata.name" style="background-color: rgb(199, 199, 199);border: 0">立即创建</span>
            <span class="ser_btn ser_next_btn two_radius"  ng-show="creatpedding==='creat'&&!namerr.repeated&&!namerr.null&&!namerr.rexed&&!namerr.bigcode&&buildConfig.spec.source.git.uri && buildConfig.metadata.name" ng-click="creat(check)" >立即创建</span>
            <span class="next_one_load two_radius" ng-show="creatpedding==='pedding'" style="margin-left:20px;margin-top:0;" ng-show ="creatpedding"><i></i>正在创建</span>
            <span class="ser_btn ser_next_btn  two_radius create_complete" ng-show="creatpedding==='down'"><i></i>创建完成</span>
        </div>

    </div>
</div>
