#sidebar {
    background: #333744;
}
#sidebar ul > li {
    margin: 0;height:42px;line-height:42px;
}
#sidebar ul > li > a {
    color: #5a6378;
    border-radius: 0;
    padding: 23px 30px;
}
#sidebar ul > li.active > a {
    background: #42485b;
}

#sidebar ul > li > a > i {
    display: none;
}
#sidebar ul > li.active > a > i {
    position: absolute;
    right: 0;
    top: 45%;
    display: inline-block;
    color: white;
}
.icon25-dashboard {
    background-image: url(img/dashboard.png);
}
#sidebar ul > li > a:hover .icon25-dashboard {
    background-image: url(img/dashboard-active.png);
}

.icon25-build {
    background-image: url(img/build.png);
}
#sidebar ul > li > a:hover .icon25-build {
    background-image: url(img/build-active.png);
}

.icon25-repository {
    background-image: url(img/repository.png);
}
#sidebar ul > li > a:hover .icon25-repository {
    background-image: url(img/repository-active.png);
}

.icon25-deployment {
    background-image: url(img/deployment.png);
}
#sidebar ul > li > a:hover .icon25-deployment {
    background-image: url(img/deployment-active.png);
}

.icon25-service {
    background-image: url(img/service.png);
}
#sidebar ul > li > a:hover .icon25-service {
    background-image: url(img/service-active.png);
}
.icon25-Integration {
    background-image: url(img/Integration.png);
}
#sidebar ul > li > a:hover .icon25-Integration {
    background-image: url(img/Integration_active.png);
}
.icon25-datadep {
    background-image: url(img/icon25-datadep.png);
}
#sidebar ul > li > a:hover .icon25-datadep {
    background-image: url(img/icon25-datadep.png);
}

.icon25-Integration {
    background-image: url(img/Integration.png);
}
#sidebar ul > li > a:hover .icon25-Integration {
    background-image: url(img/Integration_active.png);
}

.icon25-make {
    /*background-image: url(img/make.png);*/
}
#sidebar ul > li > a:hover .icon25-make {
    /*background-image: url(img/make-active.png);*/
}

.icon25-resource {
    background-image: url(img/resource.png);
}
#sidebar ul > li > a:hover .icon25-resource {
    background-image: url(img/resource-active.png);
}
.icon25 {
    color: #5a6378;
    width:16px;height:16px;vertical-align:sub;
}

/*20170306 jia*/
#sidebar ul > li > a{color:#fff;font-size:14px;padding:0px 18px;}
#sidebar ul > li > a:hover{background:#2c4d66;}
#sidebar ul > li > a:focus{background:#2c4d66!important;}
#sidebar{background:#264359;}
#sidebar ul > li.active > a{background:#2c4d66;padding:0px 18px;}
#sidebar ul > li.active > a > i{position:absolute;left:0;top:0;color:#ea3031;bottom:0;}
.fa-caret-left:before{content:"";background:#ea3031;width:2px;top: 0px;bottom: 0px;border: 1px solid #f00;position: absolute;}
.zx_set_btn{background:#4a5064 url(img/zx_set.png) no-repeat center;width:14px;height:14px;background-size:14px 14px;display:block;padding:21px 84px;
    }
.zx_set_btn:hover{background:#4a5064 url(img/zx_set_hover.png) no-repeat center;background-size:14px 14px;}
.zx_set_btn_rotate{background:#4a5064 url(img/zx_set_active.png) no-repeat center;width:14px;height:14px;background-size:14px 14px;display:block;padding:21px 84px;}
.zx_set_btn_rotate:hover{background:#4a5064 url(img/zx_set_active_hover.png) no-repeat center;background-size:14px 14px;}
.sider_zx{width:54px!important;-webkit-transition:all 0.3s linear ;-moz-transition:all 0.3s linear;transition:all 0.3s linear;}
.sidebar-fixed{margin-left:54px!important;-webkit-transition:all 0.3s linear ;-moz-transition:all 0.3s linear;transition:all 0.3s linear;}
#sidebar ul > li .side_tit{padding-left:20px;}
/*�ջ�Ч��*/
.sider_zx .zx_set_btn{padding:21px 27px;}
.sider_zx .side_tit{display:none;}
.sider_zx #sidebar ul > li > a{padding:0px 18px;height:42px;}
.sider_zx #sidebar ul > li{position:relative;}
#sidebar .num_detail{opacity:0;position:absolute;left:60px;top:9px;padding:1px 0;text-align:left;background:#333743;width:58px;height:24px;line-height:24px;text-align:center;color:#fff;font-size:12px;-webkit-transition:all .3s;
    -moz-transition:all .3s;transition:all .3s;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;z-index:99999}
#sidebar .num_detail:before{position:absolute;content:"";width: 0;height: 0; border-top: 6px solid transparent; border-right: 6px solid #333743;border-bottom: 6px solid transparent;left:-5px;margin-top:6px;
    border-left:0;}
.sider_zx #sidebar ul > li:hover .num_detail{left:64px;opacity:1;}

