<div class="apply_instance">
    <div class="create_new_nav">
        <div class="create_new_nav_top">
            <span ng-click="back()" class="cnew_back"><i class="btn_create_set back_jia_btn"></i>返回</span>
            <span class="cnew_tit"> 申请实例</span>
        </div>
    </div>
    <div class="apply_content">
        <div class="create-code-block">
            <p class="create_left">服务名称 <i>*</i></p>
            <input type="text" class="new_code_input" ng-model="bsi.metadata.name" placeholder="2至24位，小写字母开头，允许包含数字或字符'-'，不能以'-'结尾">
            <span class="input_close"  ng-show="bsi.metadata.name!==''"  ng-click="bsi.metadata.name=''"  style="left:537px"></span>
            <span class="disable_tit ng-hide">服务名称暂不支持修改</span>
            <span class="btn_set_new error_btn ng-hide" ng-show="namerr.repeated" style="margin-left:8px;" ></span>
            <div class="error_block_tit" ng-show="namerr.rexed">
                <p style="margin:0;" >2至24位，小写字母开头，允许包含数字或字符'-'，不能以'-'结尾</p>
            </div>
            <div class="error_block_tit" ng-show="namerr.bigcode">
                <p style="margin:0;">以小写字母开头</p>
            </div>
        </div>
        <div class="create-code-block" ng-repeat="wir in wirtarr">
            <p class="create_left">{{wir.name}}</p><br/>
            <span class="create_right" style="clear:both">{{wir.desc}}</span>
            <div class="minutes_code" style="margin-top:-20px;">
                <rzslider rz-slider-model="wir.rewirt.value" rz-slider-options="wir.rewirt.options"></rzslider>
            </div>
            <div class = "minutes_code_example">
                <input ng-model="wir.copyvalue"  ng-blur="sValueBlure(wir)" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"/>
                <span>{{wir.unit}}</span>
            </div>
        </div>
        <!--<div class="create-code-block">-->
            <!--<p class="create_left"> 内存</p>-->
            <!--<div class="minutes_code" style="margin-top:-25px;">-->
                <!--<rzslider rz-slider-model="sliderMer.value" rz-slider-options="sliderMer.options" ></rzslider>-->
            <!--</div>-->
            <!--<div class = "minutes_code_example">-->

                <!--<div>-->
                    <!--{{sliderMer.value}}-->
                <!--</div>-->
                <!--<span>GB</span>-->
            <!--</div>-->
        <!--</div>-->
        <div class="create-code-block">
            <div class="apply_plan">
                计费信息 <span>{{allmoney}}</span> 元／月
            </div>
        </div>
        <div class="create-code-block" style="margin-left:76px;margin-top:50px">
            <span class="ser_btn ser_next_btn  two_radius"  ng-show="!namerr.repeated&&!namerr.null&&!namerr.rexed&&!namerr.bigcode&& bsi.metadata.name" ng-click="create()">立即购买</span>
            <span class="ser_btn ser_next_btn  two_radius" style="background-color: rgb(199, 199, 199);border: 0"  ng-show="namerr.repeated||namerr.null||namerr.rexed||namerr.bigcode||!bsi.metadata.name">立即购买</span>
        </div>
    </div>
</div>
