#service{background:#fff;}
.zhuan {
    transform-origin:50% 50%;
    animation: rotateq 1s infinite linear;
}

@-webkit-keyframes rotateq {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
.service_top{
    margin-top: -13px;
    margin-bottom: 35px;
}
.service_top a {
    color:#5b73eb;
}
.hidden-xs{
    padding-left: 15px;
}
.four_question{color:#5b73eb;font-size:12px;font-style: normal;padding-left:12px;cursor:pointer;}
.four_question:hover{text-decoration:underline;}
.hidden-xs.jia:before {
    content: "";
    position: absolute;
    font-size: 26px;
    top: 7px;
    left: 24px;
    background: url(./img/images_44.png) no-repeat;
    width: 14px;
    height: 14px;
    background-size: 14px 14px;
}
.hidden-xs.refresh:before {
    content: "";
    position: absolute;
    font-size: 26px;
    top: 8px;
    left: 137px;
    background: url(./img/images_46.png) no-repeat;
    width: 14px;
    height: 14px;
    background-size: 14px 14px;
}


/*����Ϊ��ʱ״̬*/
.blank_block{margin-bottom:0;}
.blank_tit{font-size:14px;color:#5a6378;margin-left:10px;vertical-align:middle;}
.serv_jia_btn{padding-left:15px!important;}

.service .table-default > tbody > tr > th {
    padding-left: 20px;
    background: #f0f0f0;
    color: #666;
    font-weight: normal;
    text-align: center;
}

.service .table-hover>tbody>tr:hover {
    background-color: #eef1fd;
}




.service .table-default > tbody > tr:last-child{

}
.href-blue{
    color:#5b73eb;
}
.href-blue:hover{
    color:#495cbc;
}
#service .btn{
    padding:4px 9px;
}
#service .btn-blue{
    background: #5b73eb;
}
#service .btn-blue:focus{color:#fff;}
#service .btn-blue:hover{
    background: #6c81ed;
}

#service .dropdown-menu > li {background:#fff; width:118px; text-align: center;}
#service .dropdown-menu > li span{font-size:12px;color:#333;}

#service .dropdown-menu > li:hover {background:#eef1fd;}
#service .open .ser_bg_btn{-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);transform:rotate(-45deg);top:9px;}
.ser_bg_btn{position:absolute;right:13px;top:8px;width:6px;height:6px;border:solid #a3a3a4;border-width:1px 1px 0 0;
    -webkit-transform:rotate(135deg);-moz-transform:rotate(135deg);transform:rotate(135deg);-webkit-transition:all 0.3s;-moz-transition:all 0.3s;transition:all 0.3s}
#service .service_drop .zx_active a{color:#5b73eb;}
.service .dropdown-menu > li > a{
    line-height: 42px!important;
    height:42px!important;
    font-size: 14px;
}
#service .service_drop_gj{min-width:160px;}
.btn-refresh{
    color:#5b73eb;
}
.btn-refresh:hover{
    color:#5b73eb;
}



/*服务部署*/
/*.address_tit{width:200px;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow: hidden;display:block;}*/
/*服务部署列表*/
.jia_tab_table .jia_tr_list{border-bottom:1px solid #f00;height:42px;}


/*服务部署列表*/

ul,li{list-style:none;}

.service .table-default{border:0;}
.nav_service{height:46px;background:#f0f0f0;line-height:46px;padding:0;margin:0;}
.nav_service li{float:left;width:14%;text-align:center;color:#999;font-size:12px;}
.nav_service li:nth-child(1){width:20%;}
.nav_service li:nth-child(2){width:12%;}
.nav_service li:nth-child(3){width:12%;}
.nav_service li:nth-child(4){width:14%;}
.nav_service li:nth-child(5){width:14%;}
.nav_service li:nth-child(6){width:14%;}
.nav_service li:nth-child(7){width:14%;}

.nav_service_main{padding:0px;margin:0;height:auto;overflow:hidden;}
.nav_service_main li{width:14%;float:left;text-align:center;height:44px;padding-top:14px;padding-bottom:14px;border-bottom:1px solid #f0f0f0;font-size:12px;}
.nav_service_main li:nth-child(1){width:20%;text-align:left;padding-left:20px;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow: hidden;}
.nav_service_main li:nth-child(2){width:12%;}
.nav_service_main li:nth-child(3){width:12%;}
.nav_service_main li:nth-child(4){width:14%;}
.nav_service_main li:nth-child(5){width:14%;}
.nav_service_main li:nth-child(6){width:14%;}
.nav_service_main li:nth-child(7){width:14%;}

/*.service .table-default .nav_service_main:hover{background:#eef1fd;}*/
/*.nav_service_main .href-tit{color:#5b73eb}*/
.nav_service_main .href-tit:hover{text-decoration:underline}
.nav_service_main .href-blue-tit{display:block;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow: hidden;margin:0 auto}



#service .service_drop{position:absolute;top:44px;border-radius:0;min-width:78px;left:0px;border:1px solid #ebebed;border-top:0;}

.servie_list_toggle{width:120px;margin:0 auto;}
.servie_list_toggle .ser_bg_btn{right:0px;top:20px;}
#service .servie_list_toggle.open .ser_bg_btn{top:23px;}
#service .dropdown-menu > li span.colored {color:#5b73eb;}
#service .service_drop li a:hover{background:#eef1fd!important;}
