<div class="service-create" style="margin-top:-30px">
    <form name="frm">
        <div class="row">
            <div class="col-md-12">
                <div class="info">
                    <!--
                        <p class="text-right" style="font-size:12px; margin-right: 110px">请填写配置,完成手动创建服务,您还可以</p>
                        <a class="btn btn-skyblue pull-right" ng-click="" style="margin-top: -35px; margin-left: 40px">从模版创建</a>
                    -->
                </div>

                <div class="col-md-12">
                    <div ng-show="!grid.checked">
                        <div class="service-config">
                            <div class="panel panel-default panel-jia-create">
                                <div class="panel-heading panel-title"
                                     style="font-weight: bold;font-size: 16px;background:none;font-weight:normal;">
                                    快速部署
                                </div>
                                <hr style="visibility:visible; margin:0 18px;border-top:1px solid #dedede"/>
                                <div class="panel-body" style="padding: 30px 40px;">
                                    <div class="row">
                                        <div class="col-md-2" style="padding-top: 8px;">
                                            <h3 class="require" style="font-weight:normal;">镜像地址</h3>
                                        </div>
                                        <div class="col-md-6 input-group searchbar" style="position: relative;">
                                                                    <!--onkeypress="if((event.keyCode > 31 && event.keyCode < 44) || (event.keyCode > 46 && event.keyCode < 48) || (event.keyCode > 57 && event.keyCode < 65) || (event.keyCode > 90 && event.keyCode < 97))event.returnValue = false;"-->
                                                <span class="input-group-btn" style="position: absolute;right: 20px;top:0;z-index: 1;">
                                                    <a class="btn" ng-click="find()"></a>
                                                </span>
                                            <input style="z-index: 0" type="text" id="sevicecreateinp" name="serviceName"
                                                   ng-model="postobj.spec.images[0].from.name"
                                                   class="form-control input-block foucsinput"
                                                   type="text" name="name" class="form-control"
                                                   placeholder="例如：datafoundry">
                                        </div>
                                        <div class="col-md-4">
                                        </div>
                                            <!--<a ng-click='find()'>点我</a>-->
                                            <small ng-if="namerr.urlnull" class="fa fa-info-circle err-tip">请输入正确的镜像地址
                                            </small>
                                            <small ng-if="namerr.url" class="fa fa-info-circle err-tip">找不到镜像</small>
                                            <small ng-if="namerr.quanxian" class="fa fa-info-circle err-tip">没有访问权限
                                            </small>
                                            <!--<small ng-show="frm.serviceName.$dirty && grid.rexnameerr" class="fa fa-info-circle err-tip">&nbsp;请输入小写英文字母</small>-->
                                            <!--<small ng-show="frm.serviceName.$dirty && grid.createdcerr" class="fa fa-info-circle err-tip">&nbsp;服务名称不合法</small>-->
                                            <!--<small ng-show="grid.servicenameerr" class="fa fa-info-circle err-tip">&nbsp;服务名称错误</small>-->

                                    </div>
                                    <hr style="visibility:visible;border-top:1px solid #dedede"/>

                                </div>
                                <div class="panel-body" style="padding: 30px 40px;" ng-show="hasurl">
                                    <div class="row" style="margin-bottom: 20px;">
                                        <div class="col-md-2" style="padding-top: 8px;">
                                            <h3 class="" style="font-weight:normal;">镜像详情</h3>
                                        </div>

                                        <div class="col-md-6" style="font-size:14px;color: #5a6378;">
                                            <p><span>{{postobj.spec.images[0].from.name}}</span><span style="font-size: 10px;">&nbsp;{{creattime|dateRelative}}, {{imagesizs}}Mi</span></p>
                                            <p></p>
                                            <p><span>{{fuwuname}}</span>导出端口{{strport}}</p>
                                            <p></p>
                                        </div>
                                        <div class="col-md-4">
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-2" style="padding-top: 8px;">
                                            <h3 class="require" style="font-weight:normal;">服务名称</h3>
                                        </div>
                                        <div class="col-md-6 input-group searchbar">
                                            <!--onkeypress="if((event.keyCode > 31 && event.keyCode < 44) || (event.keyCode > 46 && event.keyCode < 48) || (event.keyCode > 57 && event.keyCode < 65) || (event.keyCode > 90 && event.keyCode < 97))event.returnValue = false;"-->

                                            <input type="text" name="serviceName" ng-model="fuwuname"
                                                   class="form-control input-block foucsinput"
                                                   ng-blur="nameblur()"
                                                   onkeypress="if((event.keyCode > 31 && event.keyCode < 44) || (event.keyCode > 46 && event.keyCode < 48) || (event.keyCode > 57 && event.keyCode < 65) || (event.keyCode > 90 && event.keyCode < 97))event.returnValue = false;"
                                                   ng-focus="namefocus()" type="text" name="name" class="form-control"
                                                   placeholder="例如：datafoundry">

                                            <!--<small ng-show="frm.serviceName.$dirty && grid.rexnameerr" class="fa fa-info-circle err-tip">&nbsp;请输入小写英文字母</small>-->
                                            <!--<small ng-show="frm.serviceName.$dirty && grid.createdcerr" class="fa fa-info-circle err-tip">&nbsp;服务名称不合法</small>-->
                                            <!--<small ng-show="grid.servicenameerr" class="fa fa-info-circle err-tip">&nbsp;服务名称错误</small>-->
                                        </div>
                                        <div class="col-md-4">
                                        </div>
                                        <small ng-if="namerr.nil" class="fa fa-info-circle err-tip">请输入正确构建名称
                                        </small>
                                        <small ng-if="namerr.rexed" class="fa fa-info-circle err-tip">
                                            请输入4~30位名称,名称只能包含英文、数字以及“-”
                                        </small>
                                        <small ng-if="namerr.repeated" class="fa fa-info-circle err-tip">输入的名称已重复
                                        </small>
                                    </div>
                                    <hr style="visibility:visible;border-top:1px solid #dedede"/>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12" style="">
                    <a href="javascript:;" ng-click="createDc()"
                       class="btn btn-block btn-orange"
                       style="color: white">
                        创建服务
                    </a>
                </div>
            </div>
            </div>
    </form>
</div>